*{
    margin: 0;
    border: 0;
}
h1 {
    text-align: center;
  }
  
  form {
    margin: 0 auto;
    max-width: 600px;
  }
  
  div {
    margin: 10px 0;
  }
  
  label {
    display: inline-block;
    width: 150px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"] 
   {
    width: 400px;
  }
  
  button[type="submit"] {
    display: block;
    margin: 20px auto;
  }

  header{
   
    background-color: #fbb41c;
    padding: 1%;
}
header nav ul{
    text-align: left;
}

header nav ul li {
    
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(75, 75, 75);
    transition: 0.5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header nav ul li a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
  
    
}

.cd{
    color: white;
}